{% extends 'app/base.html' %}
{% block content %}
 
<div class="container">
    <div class="row">
        
        {% if form %}

        {% for s in form %}
            <div class="col-sm-4">
                <div class="card m-4 bg-secondary">
                    
                    <h4 class="text-center">Location -  {{ s.loc }}</h4>
                    
                    <a href="{% url 'update' s.id %}" class="btn btn-success">DETAILS</a>
                    
                </div>

            </div>
        {% endfor%}
        {% else %}
        <h4 class="text-center"> NO NEWS AVAILABLE </h4>
        {% endif %}
    </div>
    <hr>
            <a href="{% url 'index'   %}" class="btn btn-danger">BACK</a>
</div>

{% endblock content %}
